venv
.venv
.idea
logs/*
.vscode
.env
**/__pycache__
**/.pytest_cache
**/.ruff_cache
.env.db
docker-compose.yml
config/centrifugo.json**/.mypy_cache
**/.mypy_cache
.coverage
htmlcov
storage
coverage.xml
logs/
