version: '3'

services:
  web:
    container_name: web-test-local
    build:
      context: .
    volumes:
    - ./src:/app/src
    - ./migrations:/app/migrations

    env_file:
      - ./.env
    depends_on:
      - db
    networks:
      - test-local
    command: bash -c "alembic upgrade head && uvicorn src.main:app"


  nginx:
    container_name: nginx-test-local
    image: nginx:latest
    ports:
      - 80:80
    depends_on:
      - web
    volumes:
      - ./config/nginx-local.conf:/etc/nginx/conf.d/default.conf:ro
      - ./storage/media:/app/storage/media:ro
    networks:
      - test-local
    command: >
      sh -c "
      echo 'Waiting for DB...';
      until pg_isready -h db -p 5432; do sleep 2; done;
      echo 'DB ready';
      alembic upgrade head &&
      uvicorn src.main:app --host 0.0.0.0 --port 8000
      "

  db:
    container_name: db-test-local
    image: postgres:15-alpine
    env_file:
      - .env.db
    expose:
      - 5432
    ports:
      - 5432:5432
    networks:
      - test-local
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -h localhost -p 5432" ]
      interval: 3s
      timeout: 3s
      retries: 15
    volumes:
      - postgres-data-local:/var/lib/postgresql/data/


volumes:
  postgres-data-local:

networks:
  test-local:
    driver: bridge
